<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>

<header th:fragment="headerFragment" class="top-bar bg-white fixed top-0 left-0 w-full h-[40px] shadow">
    <div class="h-full container mx-auto px-2 flex">
        <a th:href="@{/}" class="flex items-center px-2 font-bold mr-auto">
            <span class="tp">DOC</span>
        </a>

        <nav class="menu-1">
            <ul class="h-full flex">
                <li>
                    <a th:href="@{/articles/new}" class="h-full flex items-center px-2 font-bold">
                        <i class="fa-solid fa-pen"></i>
                        &nbsp;
                        <span class="tp">
                            글 작성
                        </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/}" class="h-full flex items-center px-2 font-bold">
                        <i class="fa-solid fa-file-lines"></i>
                        &nbsp;
                        <span class="tp">
                            글 리스트
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

</html>