<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.18.1/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/res/common.css}">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>

<div class="h-[40px] flex-shrink-0"></div>
<header th:replace="layouts/header :: headerFragment"></header>

<main class="flex-grow" layout:fragment="content">
    <div>내용</div>
</main>

<footer th:replace="layouts/footer :: footerFragment"></footer>

<script layout:fragment="javascript" type="text/javascript"></script>
</body>
</html>