@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}

/* 스크롤바 꾸미기 시작 */
:root {
    overflow-y: overlay;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(45, 45, 45, 0.3);
    border-radius: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* 스크롤바 꾸미기 끝 */

.tp {
    position: relative;
    top: 2px;
}

.card-list-1 > * {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.card-list-1 > *:hover {
    box-shadow: 0 20px 38px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
}

html, html > body {
    height: 100%;
    display: flex;
    flex-direction: column;
}